$color-red: #6e0606;
$color-darkred: #160300;
$color-lightkred: #ee1d23;
$color-gold: #ff8e0c;

$color-white: #f0f0f0;
$color-black: #0f0f0f;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $color-darkred;
  overflow-x: hidden;
}

.content-area {
  max-width: 1600px;
  margin: 0 auto;
}

* {
  position: relative;
  box-sizing: border-box;
  // color: $color-white;
}

@mixin textset {
  line-height: 1.5;
  letter-spacing: 0.03em;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: justify;
}

///--startani------------------------------
body.no-scroll {
  overflow: hidden;
  background-image: url('../images/bg/J_03795.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro {
  position: fixed;
  inset: 0;
  background-color: $color-darkred;

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s ease 0.5s forwards;

  .intro-logo {
    position: absolute;
    animation: fadeIn 3.5s ease forwards;
    max-width: 200px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(1);

    img {
      max-width: 200px;
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%)scale(1);
  }

  60% {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(3);
  }

  100% {
    opacity: 0.2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(60);
  }

}

@keyframes fadeOut {

  0% {
    opacity: 1;
    visibility: hidden;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.cardani {
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid $color-white;
    border-right: 2px solid $color-white;
    position: absolute;
    right: -20px;
    bottom: -20px;
    transition: all .3s ease;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-top: 2px solid $color-white;
    border-left: 2px solid $color-white;
    position: absolute;
    top: -20px;
    left: -20px;
    transition: all .3s linear;
  }

  &::before,
  &::after {
    // border-radius: 20px;
    animation: cardborderauto 2s ease-out infinite;
  }

  &:hover::before,
  &:hover::after {
    // border-radius: 20px;
    animation: cardborderani 1s ease-out forwards;
  }
}

@keyframes cardborderauto {
  0% {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }

  50% {
    width: 12px;
    height: 12px;
  }

  100% {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
}

@keyframes cardborderani {
  0% {

    width: 20px;
    height: 20px;
    border-radius: 0;
  }

  70% {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 0;
  }

  100% {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 20px;
  }
}


//---------------------------------------------------
.my-navbar {
  position: absolute;
  background-color: rgba($color-red, 0.9) !important;
  backdrop-filter: blur(2px);
  margin: 32px 32px 0;
  border-radius: 30px;
  padding: 8px 30px;
  z-index: 11111;
  transition: all 0.4s ease;
  transform: translateY(-200px);
  animation: mynavbarani 1s ease-out forwards;

  @keyframes mynavbarani {
    0% {
      transform: translateY(-200px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .my-catainer {
    padding: 4px;

    .my-navbar-toggler {
      border: 2px solid rgba($color-white, 0.4);
    }

    .my-offcanvas {
      margin: -32px -64px;
      height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
      right: 0;
      background-color: $color-red !important;
      border: none;

      .offcanvas-header {
        padding: 16px 32px;

        .offcanvas-title {
          max-width: 200px;

          img {
            width: 100%;
          }
        }
      }

      .offcanvas-body {
        padding: 16px 48px;

      }

      .navbar-nav {
        .nav-item {
          margin: 4px 0;

          .my-dropdown-menu {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            border: 0px;

            li {
              padding: 8px 8px;
            }

            .dropdown-item {
              padding: 8px 8px;
              border-radius: 4px;

              &:hover {
                background-color: rgb(255, 255, 255, 0.3);
              }
            }
          }
        }
      }
    }

    .offcanvas-backdrop {
      margin: -32px;
    }
  }
}




//------------------------------------------------
.background-fixed {
  // min-height: 400px;
  // position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh

  pointer-events: none;
  overflow: hidden;

  .carousel {
    .carousel-item {
      transition: opacity 2s ease-in, visibility 1s ease-out;

      img {
        object-fit: cover;
        object-position: center;
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
        animation: imgani 8s ease-in forwards;
      }
    }

    @keyframes imgani {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(1.15);
      }
    }

  }


}

.beforeRow {
  height: 300px;
  transform: translate(0 -100px);
  background-color: $color-darkred;
  z-index: 1;
}

.bgText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0%;
  bottom: 0;
  // width: 100%;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  z-index: -111;

  font-size: 72px;
  font-weight: 900;
  color: $color-darkred;
  white-space: nowrap;
  text-shadow:
    // -0.5px -0.5px 0 rgba($color-black,0.4),
    // 0.5px -0.5px 0 rgba($color-black,0.4),
    // -0.5px 0.5px 0 rgba($color-black,0.4),
    1px 1px 1px rgba(rgb(255, 255, 255), 0.1);
  letter-spacing: 0.4rem;
  transform: translateX(100vw);

}









.row-01 {
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  color: $color-white;
  background-color: $color-darkred;

  // z-index: 111;
  // overflow: hidden;
  .bg-layer {
    position: absolute;
    inset: 0;
    background-image: url(../images/bg/IMG_0634.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
  }

  .block-control {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4欄 */
    grid-template-rows: repeat(3, 1fr);
    /* 3列 */
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
    // gap: 10px;
    // padding: 10px;
    box-sizing: border-box;

  }

  .block {
    background-color: $color-darkred;

    // border: 1px solid rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scaleY(1);
    transform-origin: left bottom;
  }

  .aniarea {
    position: absolute;
    height: 160px;


    // border: 1px solid;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;

  }

  .ani {
    display: inline-block;
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
    color: $color-white;
    font-weight: bold;
    transition: all 0.3s ease;

    // font-size: clamp(1rem, 2vw, 4rem);
    &:hover {
      color: $color-gold;
      font-weight: bolder;
    }
  }

  .textani-LB {
    left: 0;
    bottom: 0;
    width: calc(100% / 2);
    margin: 0 0px 16px 16px;
    font-size: clamp(2rem, 8vw, 6rem);
  }

  .textani-LT {
    left: 0;
    top: 4%;
    width: calc(100% / 4);
    margin: 0 0px 0px 16px;

    .anitlogo {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  .textani-LT-02 {
    left: 25%;
    top: 12%;
    width: calc(100% / 4);
    height: 80px;
    margin: 0 0px 0px 16px;
    font-size: clamp(2rem, 2vw, 6rem);
    justify-content: center;
    align-items: end;
    // padding: 8px;
  }

  .textani-RT {
    right: 0;
    top: 4%;
    width: calc(100% / 4);
    margin: 0 16px 0px 0px;
    justify-content: flex-end;
  }

  .textani-RB {
    height: 100px;
    right: 0;
    bottom: 4%;
    margin: 0 16px 16px 0px;
    width: calc(100% / 3);

    justify-content: flex-end;
  }

  .textani-RM {
    // border: 1px solid;
    right: calc(12% + 50px);
    bottom: calc(12% + 70px);
    width: calc(100% / 4);
    height: calc(100% / 2.5 - 60px);
    overflow: visible;
  }

  .aniwe {
    font-size: clamp(2rem, 8vw, 8rem);
  }

  .aniare {
    font-size: clamp(2rem, 8vw, 8rem);
    margin-left: 24px;
  }

  .anitech {
    font-size: clamp(2rem, 6vw, 7rem);
    position: absolute;
    left: 0;
  }

  .anitpro {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .aniImp {
    position: absolute;
    left: 0;
    font-size: clamp(2rem, 5vw, 6rem);
  }

  .anitlogo {
    opacity: 0;
    width: 90%;
    object-fit: contain;
  }


  .anitsol {
    opacity: 0;
    font-size: clamp(12px, 2vw, 6rem);
  }

  .circle {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    clip-path: circle(80% at 50% 50%); // 圓形遮罩
    transition: clip-path 0.3s ease;

    &:hover {
      clip-path: circle(100% at 50% 50%); // 圓形遮罩
    }

    .masked-image {
      position: fixed;
      right: 0%;
      bottom: 0%;
      width: calc(100% / 2);
      height: calc(100% / 2 + 100px);
      object-fit: cover;
      object-position: right bottom;
      display: block;
      // background-color: #0f93ff;
    }
  }
}


.img-control {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: left center;

    transition: transform 0.3s ease;
  }
}

.row-02 {
  color: $color-white;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  display: flex;
  justify-content: flex-end;
  // flex-direction: column-reverse;

  .text-area {
    // position: absolute;
    width: 0%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    @include textset;

    /* IE 10+ */
    &::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari */
    }

    cursor: ns-resize;

    .title {
      font-size: 30px;
      opacity: 0;
      margin-top: 64px;

      &:hover {
        color: $color-gold;

      }
    }

    .text-content {
      font-size: 18px;
      opacity: 0;

    }
  }

}

.row-03 {

  color: $color-white;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  display: flex;
  justify-content: flex-end;

  .text-area {
    // position: absolute;
    width: 0%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    @include textset;

    /* IE 10+ */
    &::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari */
    }

    cursor: ns-resize;

    .title {
      font-size: 30px;
      opacity: 0;
      margin-top: 64px;

      &:hover {
        color: $color-gold;

      }
    }

    .text-content {
      font-size: 18px;
      opacity: 0;

    }
  }


}

.row-04 {


  // border: 1px solid white;
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  padding: 16px;


  .hiddenarea {
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .horizontal-area {

    width: 100%;
    // max-width: 5000px;
    min-width: 4000px;
    height: 100%;
    transform: translate(100vw, 0);
    display: flex;
    // justify-content: s;
    align-items: center;
    gap: 60px;

    .card {
      // height: 500px;
      width: 300px;
      height: 60%;
      // width: 100%;
      margin: 0 60px;
      padding: 0;
      // overflow: hidden;
      cursor: pointer;
      color: $color-white;
      background-color: transparent;
      border-radius: 20px;
      transition: all 0.4s ease;

      box-shadow: 0px 0px 0px 0px rgba($color-white, 1);

      .pic {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          transition: all 0.4s ease;
          filter: brightness(0.4);
          transform: scale(1);
        }
      }


      .title {
        font-size: 36px;
        color: $color-white;
        text-shadow:
          -1px -1px 0 $color-darkred,
          1px -1px 0 $color-darkred,
          -1px 1px 0 $color-darkred,
          1px 1px 0 $color-darkred;
        font-weight: 900;
        letter-spacing: 3px;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%); // 用你覆蓋的版本
        transition: all 0.4s ease;
        white-space: nowrap;

      }

      .content {
        left: 0%;
        top: 72px;
        position: absolute;
        width: 40%;

        padding: 32px;
        transition: all 0.4s ease 1s;
        opacity: 0;
        animation: contentani 1s ease-in forwards;
        color: $color-white;

        line-height: 1.5;
        letter-spacing: 0.03em;
        word-break: break-word;
        /* 強制單詞內換行，避免文字溢出 */
        white-space: normal;
        // overflow-wrap: break-word;
        text-align: justify;
      }

      @keyframes contentani {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }

        40% {
          opacity: 0;
        }

        100% {
          opacity: 1;
          transform: translateY(0px);

        }
      }

      .imagedetal {
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: cover;
        position: absolute;
        bottom: 32px;
        left: 10%;
        border-radius: 8px;
      }

      .content-bg {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 40%;
        height: 100%;
        background-color: rgba($color-darkred, 0.5);
        backdrop-filter: blur(4px);
        // z-index: 1;
      }

      .undertext {
        position: absolute;
        // left: 50%;
        top: 0%;
        padding: 8px;
        background-color: rgba($color-lightkred, 0.4);
        backdrop-filter: blur(2px);
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.3s ease-out;

        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      .open {
        top: 8px;
        right: 8px;
        border-radius: 20px;
        padding: 4px 16px;
        width: calc(100% - 16px);
        transform: translateY(-130%);

        &:hover {
          background-color: rgba($color-lightkred, 0.8);
        }
      }

      .close {
        top: 16px;
        right: 16px;
        border-radius: 8px;
        padding: 4px 12px;
        transform: translateY(-150%);
        background-color: rgba($color-lightkred, 0.6);

        &:hover {
          background-color: rgba($color-lightkred, 0.8);
        }
      }

      &:hover {
        // box-shadow: 0px 0px 0px 8px rgba($color-white, 1);

        img {
          filter: brightness(0.6);
          transform: scale(1.1);
        }

        .title {
          font-size: 40px;
          top: calc(20% - 8px);
        }

        .undertext {
          transform: translateY(0%);
        }
      }
    }

    .card.cardopen {
      height: 600px;
      width: 900px;
      margin: 0 0px;
      border-radius: 8px;

      .pic {
        width: 100%;
        height: 100%;
         border-radius: 8px;
        overflow: hidden;

        img {
         filter: brightness(1);
        border-radius: 8px;
        }
      }

      .title {
        top: 60px;
        left: 30%;
      }

      .content {
        left: 0%;
        top: 120px;
        position: absolute;
        width: 40%;
        height: calc(100% - 120px);
        padding: 32px;
        color: $color-white;

      }

      &:hover {
        box-shadow: none;

        img {
          filter: brightness(1);
          transform: scale(1);
        }

        .title {
          font-size: 36px;
          top: 60px;
        }

        .undertext {
          transform: translateY(0%);
        }
      }
    }
  }
}

.row-05 {
  height: calc(var(--vh, 1vh) * 100); // 正確使用自訂 vh
  white-space: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;



  .card {
    // height: 70%;
    width: 25%;
    padding: 0;
    aspect-ratio: 3/5;
    cursor: pointer;
    color: $color-white;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.6s ease-out;
    // border: 4px solid #dadada;


    img {
      border-radius: 20px;
      object-fit: cover;
      height: 100%;
      filter: brightness(0.6);
    }

    .title {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 0;
      font-size: 20px;
      background-color: rgba($color-darkred, 0.8);
      backdrop-filter: blur(2px);
      padding: 8px;
      border-radius: 20px;
      text-align: center;

      &:hover {
        color: $color-gold;

      }
    }

    &:hover {
      box-shadow: 0px 0px 0px 8px rgba($color-white, 1);

      img {

        filter: brightness(0.8);
      }
    }


  }
}

//-------------------------------
.site-footer {
  background-color: $color-red;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  img {
    max-width: 300px;
  }

  p {
    color: $color-white;
    margin: 0;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: $color-gold;
    }
  }

  h3 {
    font-size: 24px;
  }

  hr {
    margin: 8px 0;
  }

  .footer-top {
    display: flex;
    align-items: center;
    // justify-content: center;
  }

  .footer-container {
    display: flex;
    justify-content: space-evenly;

    gap: 24px;

    .footer-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;
      gap: 8px;
      // width: 200px;
    }

    .footer-content {
      flex: 2;
    }
  }

  .footer-bottom {
    width: 100%;
    // text-align: right;

    p {
      font-size: 14px;

    }
  }
}