$color-red: #6e0606;
$color-darkred: #270900;
$color-lightkred: #ee1d23;
$color-white: #f0f0f0;
$color-black: #0f0f0f;

body {
  background-color: $color-darkred;
  overflow-x: hidden;
}

.content-area {
  max-width: 1600px;
  margin: 0 auto;
}

* {
  position: relative;
  box-sizing: border-box;
  color: $color-white;
}

///--startani------------------------------
body.no-scroll {
  // overflow: hidden;
  background-image: url('../images/bg/J_03795.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.intro {
  position: fixed;
  inset: 0;
  background-color: $color-darkred;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s ease 0.5s forwards;

}

.intro-logo {
  position: absolute;
  animation: fadeIn 3.5s ease forwards;
  max-width: 200px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)scale(1);

  img {
    max-width: 200px;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%)scale(1);
  }

  60% {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(3);
  }

  100% {
    opacity: 0.2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(60);
  }

}

@keyframes fadeOut {

  0% {
    opacity: 1;
    visibility: hidden;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//---------------------------------------------------
.my-navbar {
  position: absolute;
  background-color: rgba($color-red, 0.8) !important;
  backdrop-filter: blur(12px);
  margin: 32px 32px 0;
  border-radius: 30px;
  padding: 8px 30px;
  z-index: 11111;
  transition: all 0.4s ease;
  transform: translateY(-200px);
  animation: mynavbarani 1s ease-out forwards;

  @keyframes mynavbarani {
    0% {
      transform: translateY(-200px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .my-catainer {
    padding: 4px;

    .my-navbar-toggler {
      border: 2px solid rgba($color-white, 0.4);
    }

    .my-offcanvas {
      margin: -32px;
      height: 100vh;

      background-color: $color-darkred !important;
      border: none;

      .offcanvas-header {
        padding: 16px 32px;

        .offcanvas-title {
          max-width: 200px;

          img {
            width: 100%;
          }
        }
      }

      .offcanvas-body {
        padding: 16px 48px;

      }

      .navbar-nav {
        .nav-item {
          margin: 4px 0;

          .my-dropdown-menu {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            border: 0px;

            li {
              padding: 8px 8px;
            }

            .dropdown-item {
              padding: 8px 8px;
              border-radius: 4px;

              &:hover {
                background-color: rgb(255, 255, 255, 0.3);
              }
            }
          }
        }
      }
    }

    .offcanvas-backdrop {
      margin: -32px;
    }
  }
}




//------------------------------------------------
.background-fixed {
  // min-height: 400px;
  // position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg/J_03795.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
  pointer-events: none;
}

.beforeRow {
  height: 300px;
  transform: translate(0 -100px);
  background-color: $color-darkred;
  z-index: 1;
}

.row-01 {
  height: 100vh;

  .bg-layer {
    position: absolute;
    inset: 0;
    background-image: url(../images/bg/IMG_0634.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
  }

  .block-control {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4欄 */
    grid-template-rows: repeat(3, 1fr);
    /* 3列 */
    width: 100vw;
    height: 100vh;
    // gap: 10px;
    // padding: 10px;
    box-sizing: border-box;
  }

  .block {
    background-color: $color-darkred;
    // border: 1px solid rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 0% 100%;
    transform: scaleY(1);
  }

  .block1,
  .block2,
  .block3,
  .block4,
  .block5,
  .block6,
  .block7,
  .block8,
  .block9,
  .block10,
  .block11,
  .block12 {
    transform-origin: left bottom;
  }
}

.fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.img-control {
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: left center;
    transition: transform 0.3s ease;
  }
}





.row-02 {
  * {
    border: 1px solid;
  }

  height: 100vh;
  display: flex;
  justify-content: flex-end;



}

.row-03 {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.row-04 {
  height: 3000px;

}