@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #160300;
  overflow-x: hidden;
}

.content-area {
  max-width: 1600px;
  margin: 0 auto;
}

* {
  position: relative;
  box-sizing: border-box;
  color: #f0f0f0;
}

body.no-scroll {
  background-image: url("../images/bg/J_03795.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.intro {
  position: fixed;
  inset: 0;
  background-color: #160300;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s ease 0.5s forwards;
}

.intro-logo {
  position: absolute;
  animation: fadeIn 3.5s ease forwards;
  max-width: 200px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.intro-logo img {
  max-width: 200px;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  100% {
    opacity: 0.2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(60);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.my-navbar {
  position: absolute;
  background-color: rgba(110, 6, 6, 0.9) !important;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin: 32px 32px 0;
  border-radius: 30px;
  padding: 8px 30px;
  z-index: 11111;
  transition: all 0.4s ease;
  transform: translateY(-200px);
  animation: mynavbarani 1s ease-out forwards;
}
@keyframes mynavbarani {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.my-navbar .my-catainer {
  padding: 4px;
}
.my-navbar .my-catainer .my-navbar-toggler {
  border: 2px solid rgba(240, 240, 240, 0.4);
}
.my-navbar .my-catainer .my-offcanvas {
  margin: -32px -64px;
  height: 100vh;
  right: 0;
  background-color: #6e0606 !important;
  border: none;
}
.my-navbar .my-catainer .my-offcanvas .offcanvas-header {
  padding: 16px 32px;
}
.my-navbar .my-catainer .my-offcanvas .offcanvas-header .offcanvas-title {
  max-width: 200px;
}
.my-navbar .my-catainer .my-offcanvas .offcanvas-header .offcanvas-title img {
  width: 100%;
}
.my-navbar .my-catainer .my-offcanvas .offcanvas-body {
  padding: 16px 48px;
}
.my-navbar .my-catainer .my-offcanvas .navbar-nav .nav-item {
  margin: 4px 0;
}
.my-navbar .my-catainer .my-offcanvas .navbar-nav .nav-item .my-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 0px;
}
.my-navbar .my-catainer .my-offcanvas .navbar-nav .nav-item .my-dropdown-menu li {
  padding: 8px 8px;
}
.my-navbar .my-catainer .my-offcanvas .navbar-nav .nav-item .my-dropdown-menu .dropdown-item {
  padding: 8px 8px;
  border-radius: 4px;
}
.my-navbar .my-catainer .my-offcanvas .navbar-nav .nav-item .my-dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.my-navbar .my-catainer .offcanvas-backdrop {
  margin: -32px;
}

.background-fixed {
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg/J_03795.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
  pointer-events: none;
}

.beforeRow {
  height: 300px;
  transform: translate(0 -100px);
  background-color: #160300;
  z-index: 1;
}

.img-control {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-control img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  transition: transform 0.3s ease;
}

.card {
  height: 500px;
  width: 300px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.card .pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transition: all 0.4s ease;
  filter: brightness(0.4);
}
.card .title {
  font-size: 36px;
  color: #f0f0f0;
  text-shadow: -1px -1px 0 #160300, 1px -1px 0 #160300, -1px 1px 0 #160300, 1px 1px 0 #160300;
  font-weight: 900;
  letter-spacing: 3px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  transition: all 0.4s ease;
}
.card .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  transition: all 0.4s ease;
}

.row-01 {
  height: 100vh;
}
.row-01 .bg-layer {
  position: absolute;
  inset: 0;
  background-image: url(../images/bg/IMG_0634.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}
.row-01 .block-control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4欄 */
  grid-template-rows: repeat(3, 1fr);
  /* 3列 */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.row-01 .block {
  background-color: #160300;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(1);
  transform-origin: left bottom;
}
.row-01 .aniarea {
  position: absolute;
  height: 160px;
  color: #f0f0f0;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
}
.row-01 .ani {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.row-01 .textani-LB {
  left: 0;
  bottom: 0;
  width: 50%;
  margin: 0 0px 16px 16px;
  font-size: 10vw;
}
.row-01 .textani-LT {
  left: 0;
  top: 4%;
  width: 25%;
  margin: 0 0px 0px 16px;
}
.row-01 .textani-LT-02 {
  left: 25%;
  top: 12%;
  width: 25%;
  height: 80px;
  margin: 0 0px 0px 16px;
  font-size: 2vw;
  justify-content: center;
  align-items: end;
}
.row-01 .textani-RT {
  right: 0;
  top: 4%;
  width: 25%;
  margin: 0 16px 0px 0px;
  justify-content: flex-end;
}
.row-01 .textani-RB {
  height: 100px;
  right: 0;
  bottom: 4%;
  margin: 0 16px 16px 0px;
  width: 33.3333333333%;
  font-size: 4vw;
  justify-content: flex-end;
}
.row-01 .textani-RM {
  right: calc(12% + 50px);
  bottom: calc(12% + 70px);
  width: 25%;
  height: calc(40% - 60px);
  overflow: visible;
}
.row-01 .aniare {
  margin-left: 24px;
}
.row-01 .anitech {
  position: absolute;
  left: 0;
}
.row-01 .aniImp {
  position: absolute;
  left: 0;
  font-size: 6rem;
}
.row-01 .anitlogo {
  opacity: 0;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.row-01 .anitsol {
  opacity: 0;
}
.row-01 .circle {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  -webkit-clip-path: circle(80% at 50% 50%);
          clip-path: circle(80% at 50% 50%);
  transition: -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease;
  transition: clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}
.row-01 .circle:hover {
  -webkit-clip-path: circle(110% at 50% 50%);
          clip-path: circle(110% at 50% 50%);
}
.row-01 .circle .masked-image {
  position: fixed;
  right: 0%;
  bottom: 0%;
  width: 50%;
  height: calc(50% + 100px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
  display: block;
}

.row-02 {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.row-02 .text-area {
  width: 0%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.row-02 .text-area .title {
  font-size: 30px;
  opacity: 0;
  margin-top: 64px;
}
.row-02 .text-area .text-content {
  font-size: 18px;
  opacity: 0;
}

.row-03 {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.row-03 .text-area {
  width: 0%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.row-03 .text-area .title {
  font-size: 30px;
  opacity: 0;
  margin-top: 64px;
}
.row-03 .text-area .text-content {
  font-size: 18px;
  opacity: 0;
}

.row-04 {
  height: 100vh;
  padding: 16px;
}
.row-04 .hiddenarea {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.row-04 .horizontal-area {
  width: 100%;
  max-width: 5000px;
  min-width: 4000px;
  height: 100%;
  transform: translate(100vw, 0);
  display: flex;
  align-items: center;
  gap: 80px;
}
.row-04 .horizontal-area .card {
  height: 500px;
  width: 300px;
  margin: 0 60px;
  padding: 0px;
}
.row-04 .horizontal-area .card .pic {
  filter: brightness(0.4);
}
.row-04 .horizontal-area .card .title {
  transform: translateX(-50%);
}
.row-04 .horizontal-area .card.cardopen {
  height: 600px;
  width: 900px;
  margin: 0 0px;
  border-radius: 8px;
}
.row-04 .horizontal-area .card.cardopen .pic {
  filter: brightness(0.6);
}
.row-04 .horizontal-area .card.cardopen .title {
  top: 10%;
  transform: translate(-50% 0%);
}
.row-04 .horizontal-area .card.cardopen .content {
  width: 400px;
  right: 20%;
  top: 30%;
  transform: translate(-50% -50%);
  transition: all 0.3s ease;
}

.row-05 {
  height: 600px;
}

.site-footer {
  background-color: #6e0606;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.site-footer img {
  max-width: 300px;
}
.site-footer p {
  color: #f0f0f0;
  margin: 0;
}
.site-footer a {
  color: #f0f0f0;
  text-decoration: none;
}
.site-footer h3 {
  font-size: 24px;
}
.site-footer hr {
  margin: 8px 0;
}
.site-footer .footer-top {
  display: flex;
  align-items: center;
}
.site-footer .footer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.site-footer .footer-container .footer-content {
  flex: 2;
}
.site-footer .footer-container .footer-content p {
  padding: 4px 0px;
}
.site-footer .footer-container .footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer .footer-container .footer-section ul {
  padding: 0;
}
.site-footer .footer-container .footer-section li {
  list-style: none;
  margin: 0;
  padding: 4px 0px;
}
.site-footer .footer-bottom {
  width: 100%;
}
.site-footer .footer-bottom p {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */